# Condition Checking

In [1]:
num = 5

In [2]:
num < 2

False

# if-else conditional statements

In [4]:
num = 18

if num<10:
    print('Okay')
elif num==19:
    print("This is the right number!")
else:
    print('Check it again!')

Check it again!

In [5]:
# Let's define a function to determine whether a number is prime.
# Let's start some coding now.
def prime(num):
    if num==1:
        return False
    for i in range(2, num):
        if num%i==0:
            return False
    return True

In [6]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
prime(18503)

True

In [9]:
prime(17)

True

In [10]:
# Let's see how many prime numbers are till 1000
li = []
for i in range(2, 1000):
    if prime(i):
        li.append(i)

In [11]:
li

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541,
 547,
 557,
 563,
 569,
 571,
 577,
 587,
 593,
 599,
 601,
 607,
 613,
 617,
 619,
 631,
 641,
 643,
 647,
 653,
 659,
 661,
 673,
 677,
 683,
 691,
 701,
 709,
 719,
 727,
 733,
 739,
 743,
 751,
 757,
 761,
 769,
 773,
 787,
 797,
 809,
 811,
 821,
 823,
 827,
 829,
 839,
 853,
 857,
 859,
 863,
 877,
 881,
 883,
 887,
 907,
 911,
 919,
 929,
 937,
 941,
 947,
 953,
 967,
 971,
 977,
 983,
 991,
 997]

# for

In [12]:
i = 0
for x in li:
    if x>500:
        i += 1
print(i)

73

Traditional iteration based loop can be written using range function.

In [13]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
# Using steps:

for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

# while

Conditional loop

In [16]:
n = 0
while n!=100:
    print(n)
    n+= 10

0
10
20
30
40
50
60
70
80
90

In [17]:
# Using else statement with while loop

n = 0
while n!=100:
    print(n)
    n+= 10
else:
    print(n)

0
10
20
30
40
50
60
70
80
90
100

# continue and break

continue:skip rest of statements in the loop and start next iteration.

break: skip rest of the statements in the loop and exit loop

In [22]:
# Let's print sqrt of numbers which are even and less than 100
x = 0
while(1):
    if x%2!=0:
        x+=1
        continue
    else:
        if x**0.5 == int(x**0.5):
            print(int(x**0.5))
    if x==100:
        break
    x+=1

0
2
4
6
8
10