# Data Structures in Python

#

# Lists

A list is basically a collection of arbitrary objects.

In [1]:
b = [11.56, 'shrikhand', 22.2]
print(b)
type(b)

[11.56, 'shrikhand', 22.2]

list

A list is ordered.

In [3]:
# Example

x = ['a', 'b', 'c']
y = ['c', 'b', 'a']
x==y

False

A list is mutable: They can be changed

In [4]:
colleges = ['DKTE', 'RIT', 'WCE', 'KIT', 2]
colleges

['DKTE', 'RIT', 'WCE', 'KIT', 2]

In [5]:
colleges[4] = 'BVP'

In [6]:
colleges

['DKTE', 'RIT', 'WCE', 'KIT', 'BVP']

#

A list is dynamic: A list can grow as the items are added to the list.

In [7]:
z = ['Ironman', 'Captain America']
z

['Ironman', 'Captain America']

In [8]:
z[2:] = ['Hulk', 'Thor']

In [9]:
z

['Ironman', 'Captain America', 'Hulk', 'Thor']

In [11]:
z[1:]

['Captain America', 'Hulk', 'Thor']

In [13]:
z[1::2]

['Captain America', 'Thor']

In [15]:
z[::-2]

['Thor', 'Captain America']

#

Lists can be nested.

In [21]:
x = ['Languages', ['C', 'C++', ['Golang']], ['Python', ['R', ['SQL']]]]

In [22]:
x

['Languages', ['C', 'C++', ['Golang']], ['Python', ['R', ['SQL']]]]

In [23]:
x[0]

'Languages'

In [24]:
x[1]

['C', 'C++', ['Golang']]

In [25]:
x[1][2][0]

'Golang'

In [26]:
x[2][1][1][0]

'SQL'

List Methods

In [27]:
# .append() method

distractions = ["youtube", "facebook", "twitter"]
distractions = distractions + ["instagram"]

distractions_pro = ["whatsapp", "teenage_relationships"]
print(distractions + distractions_pro)
distractions.append("some_string")
print(distractions)

['youtube', 'facebook', 'twitter', 'instagram', 'whatsapp', 'teenage_relationships']
['youtube', 'facebook', 'twitter', 'instagram', 'some_string']

In [28]:
# Using clear

a = ["10", "11", "12", "13"]
a.clear()

In [29]:
a

[]

In [30]:
# copy
b = distractions.copy()
b

['youtube', 'facebook', 'twitter', 'instagram', 'some_string']

In [31]:
c = [0, 0, 0, 1, 1, 2, 3, 3, 3, 3]

In [32]:
# count method
c.count(3)

4

In [33]:
c.count(0)

3

In [34]:
# index method
b.index("twitter")

2

In [35]:
# sort
some = [10990, 2, 728, 561, 1309, 432]
some.sort()
print(some)

[2, 432, 561, 728, 1309, 10990]

In [36]:
# insert
some.insert(6, 11000)

In [37]:
some

[2, 432, 561, 728, 1309, 10990, 11000]

In [38]:
# pop
some.pop(2)

561

In [39]:
some

[2, 432, 728, 1309, 10990, 11000]

# Tuples

Tuples are lists with a few rules:

1] Use ()

2] Immutable

In [40]:
singers = ('Arijit Singh', 'Sonu Nigam', 'Shreya Ghoshal', 'Ankit Tiwari')

In [41]:
# Accessing values of tuples
singers[1]

'Sonu Nigam'

In [42]:
# Try mutating.
singers[4] = 'Honey Singh'

TypeError: 'tuple' object does not support item assignment

Unfortunately, he doesn't belong to this class :)

# Indexing and Slicing

In [43]:
colleges[0]

'DKTE'

In [44]:
colleges[1:]

['RIT', 'WCE', 'KIT', 'BVP']

In [45]:
# Printing in reverse
colleges[::-1]

['BVP', 'KIT', 'WCE', 'RIT', 'DKTE']

In [46]:
# Steps
colleges[::2]

['DKTE', 'WCE', 'BVP']

In [47]:
# Indexing is similar for Tuples
singers[::-1]

('Ankit Tiwari', 'Shreya Ghoshal', 'Sonu Nigam', 'Arijit Singh')

# Sets:  A set is an unordered collection with no duplicate elements.

In [48]:
fruits = {'apple', 'orange', 'pineapple'}

In [49]:
fruits1 = {'berries', 'pear', 'orange', 'apple'}

In [50]:
fruits | fruits1

{'apple', 'berries', 'orange', 'pear', 'pineapple'}

In [51]:
fruits - fruits1

{'pineapple'}

In [52]:
fruits^fruits1

{'berries', 'pear', 'pineapple'}

# Dictionaries

A dictionary is a set of key: value pairs, with the requirement that the keys are unique (within one dictionary).

In [53]:
a = {1 : 'CSE', 2 : 'ME', 3 : 'ETRX'}

In [54]:
a[1]

'CSE'

In [55]:
a[4] = 'ENTC'

In [56]:
a

{1: 'CSE', 2: 'ME', 3: 'ETRX', 4: 'ENTC'}

In [57]:
a[6] = 'CIVIL'

In [58]:
a

{1: 'CSE', 2: 'ME', 3: 'ETRX', 4: 'ENTC', 6: 'CIVIL'}

In [60]:
'BIO' in a.values()

False

In [59]:
a.values()

dict_values(['CSE', 'ME', 'ETRX', 'ENTC', 'CIVIL'])

In [61]:
3 in a

True

Basically using the Comparison operators to check the condition.

In [62]:
# Use of in operator: Searching for a value or checking a condition.
l = [1000, 300, 20, 75, 80]
20 in l

True