# Operator: A symbol that tells a compiler or interpreter to perform certain operation.
# So, '+' is an operator to perform the addition operator.

# Python has several types of Operators:
# 1] Arithmetic Operators
# 2] Comparison Operators
# 3] Logical Operators
# 4] Bitwise Operators
# 5] Identity Operators

#

# 1] Arithmetic Operators

Unary Operators: Used to assign the sign to numbers

In [1]:
print(+2)
print(-2)

2
-2

Binary Operators: Used to perform arithmetic operations between two operands

In [2]:
# Addition, Multiplication, Subtraction and Division

print(5+6)
print(2*7)
print(8-10)
print(10/2)

11
14
-2
5.0

If you observe above, the division returns floating point values.

In [3]:
# Modulus and Floor Division Operators

print(10%4)
print(16//3)

2
5

As in other programming languages, the modulus here returns the remainder after the division.
The floor function returns the Quotient after the division.

In [4]:
# Exponentiation

print(9**2)
print(5**25)

81
298023223876953125

#

# 2] Comparison Operators

The Comparison Operators return the boolean values of a comparison.

In [5]:
print(9==9) # Equal to Operator
print(5<4) # Less than Operator
print(3<=3) # Less than Equal to Operator
print(1500>1499.999) # Greater than Operator
print(1500>=1499.99999) # Greater than equal to Operator

True
False
True
True
True

In [6]:
# Comparing the Integer and Float values.

print(1500==1499.99)
print(1500==1499.999999999999999999999999999999999999)
print(1500==1499.999999999999)
print(1500==1499.9999999999999)
print(1500==1500.00)

False
True
False
True
True

In Python, we can compare the integer and floating point values easily.
Observing the above examples, we can say that precision is very important in Python.
When comparing the float and integer values, the floating points considered are 12. As soon as you put in 13 9's after the decimal point, the value is rounded off.

This doesn't mean 13 9's work for every number. It's dependent on how they're stored internally.

In [7]:
print((2.2 + 1.1) == 3.3)

False

Now, what's the problem here? Obviously, 2.2 + 1.1 should be 3.3, right??

# But, the value stored internally may not be what you think it is. So here, it may be stored as 2.199999 or 1.09999 and addition of these values wouldn't get you a correct 3.3, it may be a bit less than 3.3.

In [8]:
# Let's see the difference between the absolute value and the real value.  
abs(2.2 + 1.1)-3.3

4.440892098500626e-16

In [9]:
# Are they now same?
print(abs(2.2 + 1.1)==3.3)

# Perhaps, No!

False

Find out more about this issue and answer how it can be resolved??

# abs(): The absolute function returns the absolute value of any number.
# ex: abs(2.2999999999999999) will return 2.3

#

# 3] Logical Operators

The logical operators not, or, and and modify and join together expressions evaluated in Boolean context to create more complex conditions.

In [10]:
# Using the and operator: if both statements are true

print((8<5) and (7>3))
print((5>2) and (19>6))

False
True

In [11]:
# Using the or operator: if one of the statements is true

print((8<5) or (7>3))
print((7.0>6.99999999) or (2<1))

True
True

In [12]:
# Using the not operator: Inverts the statement's truth value,
# i.e., it'll make True as False and False as True

print(not (1<10000))

False

We can also use the bool function to return true or false.

In [13]:
bool(0)

False

In [14]:
bool(1)

True

In [15]:
bool((1<100)and (15>3))

True

In [16]:
# The boolean value of None is always False
bool(None)

False

# Chained Comparisons

Chained Comparisons are like combine comparisons
For ex: 8<=9==9.0 is similar to 8<=9 and 9==9.0

So basically, combining the logical and comparison operators

In [17]:
8<=9==9.0 # 8<=9 and 9==9.0

True

In [18]:
10000>190==190>=19 # This means 10000>190 and 190==190 and 190>=19

True

#

# 4] Biwise Operators

Bitwise operators treat operands as sequences of binary digits and operate on them bit by bit.

In [19]:
# Bitwise anding

print(6&13)
print(8&19)

# Evaluate the answers on paper if you need to.

4
0

In [20]:
# Bitwise oring

print(10|11)
print(15|16)

11
31

In [21]:
# Bitwise negation

print(~23)

-24

In [22]:
# Bitwise xoring

print(60^21)

41

In [23]:
# Right Shift by n bits

print(5>>1)

2

In [24]:
# Left Shift by n bits

print(128<<4)

2048

#

# 5] Identity Operators

In [27]:
# is and is not are identity operators

print(45 is 90)
print(9 is 9.0) # Look at this contradiction. Find more about this.

False
False

In [25]:
# Let's use id() function which shows 
# if the reference of two variables is same

# We'll talk about variables later but for now,
# variables are just the 

a = 5
b = 5
print(id(a))
print(id(b))

94141907362688
94141907362688

Thus we can see, that a and b have same reference

In [28]:
c = 5
d = 6
print(id(c))
print(id(d))

94141907362688
94141907362720

Thus we can see that, c and d having different values have different references

# lowest precedence 	
     or 	Boolean OR
	and 	Boolean AND
	not 	Boolean NOT
	==, !=, <, <=, >, >=, is, is not 	comparisons, identity
     | 	    bitwise OR
     ^  	bitwise XOR
     & 	    bitwise AND
	<<, >> 	bit shifts
	+, - 	addition, subtraction  
    *, /, //, % 	multiplication, division, floor division, modulo
	+x, -x, ~x 	unary positive, unary negation, bitwise negation ** 	exponentiation
    
   # highest precedence

#

# Data Types in Python

#    
# The main data types in python are:
# 1] Integers
# 2] Floating Point
# 3] Strings

# 1] Integers

In python, there are no constraints on how long an integer should be but only by the memory.

In [29]:
a = 1 + 1230000000000000000000000000000000000000000000444444444444444444444444444444444444444444444444444444455555555555555555555555555555555555555555555555555555555555555556666666666666666666666666666666666666666666666666666667777777777777777777777777777777777777788888888888888888888888888888888888888888888888888888888888888888888
print(a)

1230000000000000000000000000000000000000000000444444444444444444444444444444444444444444444444444444455555555555555555555555555555555555555555555555555555555555555556666666666666666666666666666666666666666666666666666667777777777777777777777777777777777777788888888888888888888888888888888888888888888888888888888888888888889

So, according to above instruction, you can still perform operations on a number with length of well, let's check it:

In [30]:
len(str(a)) 
# Using type-casting: int to str and then, finding it's length
# So, the length is a whooping 325 and you can still do certain operations.
# Well not float though. While dividing, do the floor division. 
# Try dividing the above number by 10 and then, try floor division.

325

In [33]:
# Using binary numbers
# Just use 0b behind the binary number.

print(0b1010001) # 100 in binary = 4 in decimal

81

In [34]:
# Using Octal numbers
# Just use 0o behind the octal number

print(0o100) # 100 in octal = 64 in decimal

64

In [35]:
# Using Hexadecimal numbers
# Just use 0x behind the hexadecimal number

print(0x100) # 100 in hexadecimal = 256 in decimal

256

#

# 2] Floating Point

In [36]:
x = 7.5992311977100001955596618888889999999999999999991111111111111111111100000000000000000000222222222243355

And, as you can see, you may also have any length of digits after the decimal point. 
Python is basically a messiah for the numbers right? No problems of double long double etc.

In [37]:
type(x)

float

In [38]:
# Using the e notation: base, exponent

print(4e-1)
# or
print(.5e2)

0.4
50.0

In [39]:
x+1

8.59923119771

# Complex Numbers

In [40]:
# Represented as (real) + (imag)j
type(5+1j)

complex

In [41]:
# Addition of 2 complex nos.
(2+3j) + (7+10j)

(9+13j)

In [42]:
# Multiplication of 2 complex nos.
(19+3j)*(7+2j)

(127+59j)

#

# Strings

In [43]:
print('This is all you need about strings.')

This is all you need about strings.

In [45]:
# To use ' or " character inside a string, simply use \ before the character you're using.
print('a\'')
"h"

a'

'h'

In [46]:
len("Yalgaar Club")

12

In [48]:
"Sign" + " theta"

'Sign theta'

In [49]:
"DKTE" == "dkte"

False

In [51]:
"DKTE".lower()

'dkte'

#

# I/O

In [52]:
# We can use input(Enter a string:) to display a message 'Enter a string' 
# and input some value, perhaps a string

a = input('Enter a string: ')
print(a)

Enter a string: SDTP
SDTP

In [53]:
# For Output, we use print()
print('Let\'s print')

Let's print

In [54]:
# Formatted Output
a = 10
b = 5
print("The value of a is {} and b is {}".format(a, b))
print(f"The value of a is {a} and b is {b}")

def p(a, b):
    return (f"The value of a is {a} and b is {b}")
p(a,b)

The value of a is 10 and b is 5
The value of a is 10 and b is 5

'The value of a is 10 and b is 5'

In [55]:
# We can also use the format strings as in C
y = 2.34567
print("The value is %.2f" %y)

The value is 2.35

In [56]:
print(round(4.75918, 2))

4.76

#

# Variables

If you're familiar with programming, you know what a variable is. Why?
Because this statement is stored in your brain's certain variable.:)

So, Variables are containers for storing data values in any Programming language and so is 
in Python.

In [57]:
var = 5

In [58]:
type(var)

int

In [59]:
var1 = 7.958

In [60]:
type(var1)

float

In [61]:
var2 = "Some random joke."

In [62]:
type(var2)

str

#

Assign Values to multiple variables

In [63]:
k, l, m, n, o, p, q, r, s = 'Gain', ' knowledge', ' and', ' don\'t', ' stress', ' on', ' marks', ' more', ' than limit.'

In [64]:
print(k+l+m+n+o+p+q+r+s)

Gain knowledge and don't stress on marks more than limit.

#

Multiple assignment

In [65]:
a = b = c = 9.0

In [66]:
print(a, b, c)

9.0 9.0 9.0

#

# Type Conversion

In [67]:
print(float(5))

5.0

In [68]:
print(int(7.99))

7

In [69]:
print(int(7.99))

7

In [70]:
# Using rounding off to print round off values

print(round(7.99))

8

In [71]:
print(str(567))

567

In [72]:
print(str(567)+str(787))

567787

In [73]:
# Using ord() function to convert char to int

ord('9')

57

In [74]:
hex(9)

'0x9'

In [75]:
oct(10)

'0o12'

Convert ASCII values to characters

In [76]:
print(chr(82))

R

In [77]:
print(chr(35))

#

Thank!